In [259]:
import matplotlib.pyplot as plt
import pandas as pd 
import numpy as np
import random

work_days = {
    '2024-01': 24,
    '2024-02':23,
    '2024-03':21,
    '2024-04':24,
    '2024-05':23,
    '2024-06':20,
    '2024-07':24,
    '2024-08':22,
    '2024-09':23,
    '2024-10':24,
    '2024-11':22,
    '2024-12':23
}

In [260]:
x = pd.read_excel('./cajas_revisadas ENERO 2024 A ENERO 2025.xlsx')
x.head()
df = x[['CONCATENAR', 'cd_usua',]]
df['fecha'] =  [str(i)[0:7] for i in x['fe_actu']]
df_2024 = df[df['fecha'].astype(str).str.contains('2024')]
df_2024

/tmp/ipykernel_3877/2603036667.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fecha'] =  [str(i)[0:7] for i in x['fe_actu']]

             CONCATENAR     cd_usua    fecha
1076   EX024287  F7175   dfumbarila  2024-12
1077   EX024287  F7178   dfumbarila  2024-12
1078   EX024287  F7150   dfumbarila  2024-12
1079   EX024287  F7177   dfumbarila  2024-12
1080   70098070  1       dfumbarila  2024-12
...                 ...         ...      ...
10406  73660252581        dabeltran  2024-01
10407  EX014844  M42443    jyvalera  2024-01
10408  EX014843  M42443    jyvalera  2024-01
10409  EX014910  C3767    dabeltran  2024-01
10410  EX014909  M42185  yaespinosa  2024-01

[9335 rows x 3 columns]

In [261]:
names = set(name for name in df_2024['cd_usua'])

In [276]:
def num_p(name):
    return len(df_2024[df_2024['cd_usua'] == name])

box_name_year = {i:num_p(i) for i in names}


box_name_month = {month:set(df_2024['cd_usua'][df_2024['fecha'] == month]) for month in work_days}

num_box_year = {}
for month in df_2024['fecha']:
    if month in num_box_year:
        num_box_year[month] += 1
    else:
        num_box_year[month] = 1


def total_productivity_day(date):

    return round(num_box_year[date]/(len(box_name_month[date]))/(work_days[date]),2)
    #return round(num_box_year[date]/(5)/(work_days[date]),2)




def total_productivity_hour(date):
    response = (num_box_year[date]/len(box_name_month[date]))/(work_days[date]*8)
    return round(response, 2)

In [263]:
prod_2024_import_day = {month:total_productivity_day(date=month) for month in work_days}
prod_2024_import_hour = {month:total_productivity_hour(date=month) for month in work_days}


num_pers_month = [len(box_name_month[i]) for i in box_name_month ]

prod_2024 = pd.DataFrame(
    {'Productividad por día': prod_2024_import_day.values(), 
    'Productividad por hora': prod_2024_import_hour.values(),
    'Número de personas': num_pers_month},
    index=prod_2024_import_day.keys()
    )
prod_2024

         Productividad por día  Productividad por hora  Número de personas
2024-01                   2.25                    0.28                   9
2024-02                   4.17                    0.52                  11
2024-03                   2.84                    0.36                  14
2024-04                   4.13                    0.52                   9
2024-05                   4.81                    0.60                   9
2024-06                   3.52                    0.44                   9
2024-07                   3.83                    0.48                   8
2024-08                   2.86                    0.36                   9
2024-09                   3.39                    0.42                  12
2024-10                   6.12                    0.76                   6
2024-11                   4.65                    0.58                   6
2024-12                   4.38                    0.55                   7

In [277]:
prod_2024_import_day = {month:total_productivity_day(date=month) for month in work_days}
prod_2024_import_hour = {month:total_productivity_hour(date=month) for month in work_days}


num_pers_month = [len(box_name_month[i]) for i in box_name_month ]

prod_2024 = pd.DataFrame(
    {'Productividad por día': prod_2024_import_day.values(), 
    'Productividad por hora': prod_2024_import_hour.values(),
    'Número de personas': num_pers_month,
    'Número de cajas por mes': num_box_year},
    
    index=prod_2024_import_day.keys()
    )
prod_2024

,Productividad por día,Productividad por hora,Número de personas,Número de cajas por mes
2024-01,2.25,0.28,9,486
2024-02,4.17,0.52,11,1054
2024-03,2.84,0.36,14,836
2024-04,4.13,0.52,9,893
2024-05,4.81,0.60,9,995
2024-06,3.52,0.44,9,633
2024-07,3.83,0.48,8,735
2024-08,2.86,0.36,9,567
2024-09,3.39,0.42,12,936
2024-10,6.12,0.76,6,881
2024-11,4.65,0.58,6,614
2024-12,4.38,0.55,7,705

In [278]:
suma = 0
for i in prod_2024['Productividad por día']:
    suma += i
suma/12

3.9124999999999996

In [279]:
sum(prod_2024['Productividad por día'])/12

3.9124999999999996

In [267]:
sum(prod_2024['Productividad por día'])/12

6.838333333333332

In [246]:
df_2025 = df[df['fecha'].astype(str).str.contains('2025-01')]
names = set(name for name in df_2025['cd_usua'])

def num_p(name):
    return len(df_2025[df_2025['cd_usua'] == name])

box_name_year = {i:num_p(i) for i in names}

box_name_month = {month:set(df_2025['cd_usua'][df_2025['fecha'] == '2025-01'])}
print(box_name_month)


num_box_year = {}
for month in df_2025['fecha']:
    if month in num_box_year:
        num_box_year[month] += 1
    else:
        num_box_year[month] = 1


def total_productivity_day(date):

    return round((num_box_year[date]/6)/(23),2)
    #return round(num_box_year[date]/(5)/(work_days[date]),2)




def total_productivity_hour(date):
    response = (num_box_year[date]/len(box_name_month[date]))/(work_days[date]*8)
    return round(response, 2)

{'2025-01': {'badimate', 'dkcastrillon', 'cmpadilla', 'dabeltran', 'kjlopez', 'jcgaravito', 'cagaravito', 'dfumbarila', 'nmjara', 'crrojas', 'magaleano', 'abrojas', 'jobenavides'}}

In [247]:
enero_2025 = total_productivity_day('2025-01')
enero_2025

7.79